@model EditEmployeeNameViewModel

@{
}
<div class="row">
  <div class="col-md-3">
    <partial name="_EmployeeViewNavPartial" model="Model.EmployeeId" />
  </div>
  <div class="col-md-9">
    <form method="post">
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-row">
        <div class="form-group col-md-6">
          <label asp-for="FirstName"></label>
          <input asp-for="FirstName" class="form-control" placeholder="First Name">
          <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
          <label asp-for="LastName"></label>
          <input asp-for="LastName" class="form-control" placeholder="Last Name">
          <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}