@model string

<ul class="nav nav-pills flex-column">
  <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="EditEmployeeName" asp-route-employeeId="@Model">Edit Name</a></li>
</ul>