@model FileImportViewModel
@{
  ViewData["Title"] = "Set Buffer by Store Quantity";
}

<form enctype="multipart/form-data" asp-action="BufferSetter" method="post">
  <div class="form-group row">
    <div class="col-auto my-auto">
      <label asp-for="CSVFile">SkuVault Buffer Export File</label>
    </div>
    <div class="col-auto my-auto">
      <input asp-for="CSVFile" class="form-control-file">
      <span asp-validation-for="CSVFile" class="text-danger"></span>
    </div>
    <div class="col-auto my-auto">
      <input asp-for="Email" class="form-control" placeholder="Email to send file to">
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="col-auto my-auto">
      <button class="btn btn-primary my-auto">Submit</button>
    </div>
  </div>
  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  <span class="form-text text-info small">
    Ensure file type is CSV and has the following first 4 headers: Code, SKU,	Channel Name,	Do not send quantity for this SKU
  </span>
</form>

<div class="accordion mt-3" id="information">
  <div class="card">
    <div class="card-header" id="instructionBox">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#instruction" aria-expanded="false" aria-controls="instruction">
          Instruction
        </button>
      </h2>
    </div>
    <div id="instruction" class="collapse" aria-labelledby="instructionBox" data-parent="#information">
      <div class="card-body">
        <ol>
          <li>Navigate to SkuVault => Admin => Exporting => Products Quantity Buffer => Channel Account = CA Golfio => CHECK "Only show SKUs with currently enabled buffers" => Generate</li>
          <li>Import the downloaded file</li>
          <li>Click "Submit"</li>
          <li>Task will run in the background</li>
          <li>The result file will be emailed</li>
          <li><b>Double check to make sure the file is correct</b></li>
          <li>Navigate to SkuVault => Admin => Importing => Quantity Buffer Import (per SKU) by products => "Import Quantity Buffers" => Import the file that was emailed => "Import"</li>
          <li>For information on what the system is doing, please refer to the Explanation section</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="explanationBox">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#explanation" aria-expanded="false" aria-controls="explanation">
          Explanation
        </button>
      </h2>
    </div>
    <div id="explanation" class="collapse" aria-labelledby="explanationBox" data-parent="#information">
      <div class="card-body">
        <ol>
          <li>Retrives necessary columns from ChannelAdvisor (SKU, WarehouseLocations)</li>
          <li>Compares the result with currently active buffer quantity</li>
          <li>Determines buffer quantity for CA Golfio, CA GB, and BC Golfio</li>
          <li>** For BC Golfio, except for clubs and bags (determined by the main category), buffer will be set</li>
        </ol>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="objectiveBox">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#objective" aria-expanded="false" aria-controls="objective">
          Objective
        </button>
      </h2>
    </div>
    <div id="objective" class="collapse" aria-labelledby="objectiveBox" data-parent="#information">
      <div class="card-body">
        <p>The main objective is to prevent store quantity from being sold at other marketplaces</p>
      </div>
    </div>
  </div>
</div>