@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@{ ViewData["Title"] = "Home Page"; }

@if (TempData["Message"] != null)
{
  <div class="text-center text-danger my-5">
    <h3>@TempData["Message"].ToString()</h3>
  </div>
}

<a class="btn btn-primary btn-block" asp-action="NoSalesReport">No Sales Report</a>

<a class="btn btn-primary btn-block" asp-action="ZDTSummarizer">ZendeskTalk Summarizer</a>

<a class="btn btn-primary btn-block" asp-action="BufferSetter">Buffer Setter</a>

<a class="btn btn-primary btn-block" asp-action="DropShipUpdater">DropShip Updater</a>

<a class="btn btn-info btn-block" asp-action="VersionHistory">Version History</a>