@{
  ViewData["Title"] = "Home Page";
}

<a class="btn btn-primary btn-block" asp-action="NoSalesReport">No Sales Report</a>
<a class="btn btn-primary btn-block" asp-action="SetBufferByStoreQty">Buffer By Store Qty</a>
<a class="btn btn-primary btn-block" asp-action="UpdateDropShipTask">Update DropShip</a>
