@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService 

@{
  ViewData["Title"] = "Home Page";
}


@if ((await AuthorizationService.AuthorizeAsync(User, "NoSale")).Succeeded)
{
  <a class="btn btn-primary btn-block" asp-action="NoSalesReport">No Sales Report</a>
}

<a class="btn btn-primary btn-block" asp-action="ZDTSummarizer">ZendeskTalk Summarizer</a>

<a class="btn btn-primary btn-block" asp-action="BufferSetter">Buffer By Store Qty</a>

<a class="btn btn-primary btn-block" asp-action="DropShipUpdater">Update DropShip</a>
