@model NoSalesReportViewModel
@{
  ViewData["Title"] = "ChannelAdvisor";
}

<form asp-action="NoSalesReport" method="post">
  <div class="form-group row">
    <label asp-for="LastSoldDate" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <input asp-for="LastSoldDate" class="form-control-plaintext">
    </div>
    <span asp-validation-for="LastSoldDate" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Generate</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}