@model FileImportViewModel

@using NewAgeUI.Utilities 
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@{
  ViewData["Title"] = "Set Buffer by Store Quantity";
}

<form enctype="multipart/form-data" asp-action="SetBufferByStoreQty" method="post">
  <div class="form-group">
    <label asp-for="CSVFile">Example file input</label>
    <input asp-for="CSVFile" class="form-control-file">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>

@if (httpContextAccessor.HttpContext.Session.GetObject<System.Text.StringBuilder>("storeBuffer") != null)
{
  <form asp-action="DownloadReport" method="post">
    <button class="btn btn-primary" type="submit">Download</button>
  </form>
}