@{
  ViewData["Title"] = "Version History";
}

<div>
  Nov 3, 2020
  <ul>
    <li>NoSaleReport: Only acquire necessary Attributes to reduce bandwidth. This is in relation to optimizing for constant server crash fix</li>
  </ul>

  Oct 23, 2020
  <ul>
    <li>NoSaleReport: Fixed miscalculation of FBA Quantity</li>
    <li>NoSaleReport: Optimized performance when retrieving product information from ChannelAdvisor</li>
  </ul>

  Oct 21, 2020
  <ul>
    <li>Fixed error message displayed when a product doesn't contain one of the 5 essential labels for both DropShipUpdater and NoSaleReport. Depending on the task, it'll ignore it or indicate "No Label"</li>
    <li>NoSaleReport: Separates WH, FBA, and Store quantity</li>
    <li>NoSaleReport: Fixed duplicate products appearing on the report</li>
  </ul>

  Oct 20, 2020
  <ul>
    <li>Optimized NoSalesReport to use less server resource</li>
  </ul>

  Oct 19, 2020
  <ul>
    <li>Optimized DropShip task to utilize less memory. Hoping this will prevent the server from crashing due to resource limitation</li>
    <li>Fixed DropShip task returning error message due to DropShip products not having one of 5 essential labels (NPIP, MapNoShow, MapShow, Discount, and Closeout)</li>
    <li>Updated this Version History page for easier maintenance</li>
  </ul>

  Aug 06, 2020
  <ul>
    <li>Updated Task: DropShip Updater will check InvFlag and Quantity to determine whether new DropShip quantity. Please see Explanation within DropShip Updater for more information</li>
  </ul>

  July 24, 2020
  <ul>
    <li>New Task: Zendesk Talk Summarizer</li>
    <li>New Task: DropShip Updater</li>
    <li>Updated Task: No Sales Report will no longer display result on the web. Instead it will download the result in CSV</li>
    <li>Updated Task: Store Buffer will automatically download the result instead of waiting for the user to click a button</li>
    <li>Updated Task: Zendesk Talk Summarizer has been updated. Previous method of acquiring exported file will be become obsolete in October. See Instruction section for how to acquire the new export file from Zenesk.</li>
    <li>New Feature: Added Instruction, Explanation, and Objective to each task</li>
    <li>New Feature: Added Users view to display all users and their Access Permissions (AP). AP will be later used to limit task access.</li>
    <li>UI/UX: Properly notifies if user does not have access</li>
    <li>UI/UX: Task names have been changed to better explain what it does</li>
    <li>UI/UX: Updated button names for consistency</li>
    <li>Bug Fix: Password error not displaying correctly during registration</li>
  </ul>
</div>