@model LoginViewModel
@{
  ViewData["Title"] = "Login";
}

  <form asp-action="Login" method="POST" class="mt-3">
    @Html.ValidationSummary(true, "Test", new { @class = "text-danger" })
    <div class="form-group">
      <label asp-for="EmailAddress"></label>
      <input asp-for="EmailAddress" class="form-control">
      <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Password"></label>
      <input asp-for="Password" class="form-control">
      <span asp-validation-for="Password" class="text-danger"></span>
      <div>
        <a asp-action="ForgotPassword" class="form-text text-primary small"><u>Forgot Password?</u></a>
      </div>
    </div>
    <div class="form-group">
      <label asp-for="RememberMe"></label>
      <input asp-for="RememberMe" class="ml-3" style="transform: scale(2);">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a asp-controller="Account" asp-action="Register" class="btn btn-secondary ml-3">Register</a>
  </form>

@if (TempData["MessageTitle"] != null)
{
  <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
    <div class="toast" style="position: absolute; top: 50px;" data-autohide="false" data-animation="true">
      <div class="toast-header">
        <strong class="mr-auto text-success">@TempData["MessageTitle"]</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body text-info">
        @TempData["Message"]
      </div>
    </div>
  </div>
}

@section Scripts
{
  <script>
    $('.toast').toast('show');
  </script>
}