@model RegisterViewModel

@{
  ViewData["Title"] = "Register";
}

<form method="post">
  @Html.ValidationSummary(true, "", new { @class="text-danger" })
  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="FirstName"></label>
      <input asp-for="FirstName" class="form-control" placeholder="First Name">
      <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="LastName"></label>
      <input asp-for="LastName" class="form-control" placeholder="Last Name">
      <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="EmailAddress"></label>
      <input asp-for="EmailAddress" class="form-control" placeholder="Email Address">
      <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="OfficeLocation"></label>
      <Select asp-for="OfficeLocation" asp-items="Html.GetEnumSelectList<OfficeLocationEnum>()" class="form-control">
        <option value="">Please Select</option>
      </Select>
      <span asp-validation-for="OfficeLocation" class="text-danger"></span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label asp-for="Password"></label>
      <input asp-for="Password" class="form-control" placeholder="Email">
      <span class="form-text text-primary small">
        Min 6 characters. Must include lower, upper, number, and special character
      </span>
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
      <label asp-for="ConfirmPassword"></label>
      <input asp-for="ConfirmPassword" class="form-control" placeholder="Password">
      <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <a asp-controller="Account" asp-action="Login" class="btn btn-secondary ml-3">Login</a>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}